    <p>Si tu as du croustillant à nous partager, tu peux :</p>
    <%=link_to "Create a new gossip", new_gossip_path, :class => "card-link btn btn-light" %><br><br>
    
    <br<p>Tous les potins THP accessibles ! :)</p>

    <% @gossips.each_with_index.map do |gossip, index| %>
        <%=link_to "Gossip n°#{index + 1} from #{User.find(gossip.user_id).first_name}", gossip_path(gossip) %> 
        <p><%=gossip.title%></p><br>
    <% end %>
    <p>Si tu as du croustillant à nous partager, tu peux :</p>
    <%=link_to "Create a new gossip", new_gossip_path, :class => "card-link btn btn-light" %>

