<div class="row">

<div class="col photo">
    <img src="https://images.pexels.com/photos/2346006/pexels-photo-2346006.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500">
    <div class="photos">Photos</div>
</div>

<div class="col text-center">
    <h2> Send us a message </h2><br><br><br>
    <p>gossip_thp@closer.org</p>
    <%=link_to "Message", new_message_path, :class => "btn btn-outline-primary ms-1"%>
</div>

</div>