<div class="flex-container">

<% @cities.each do |city|%>
    <div class="card card-small m-3">
        <div class="thumbnail">           
                <img alt="Opt alp thumbnail" src="https://source.unsplash.com/random/300x170/?town/<%=rand(1..150)%>">
                    <div class="thumb-cover"></div>
                </a>            
                <div class="details">
                <div class="user">
                     <div class="user-photo">
                          <img alt="Thumb" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                     </div>
                     <div class="name"><%=link_to "#{User.where(city_id: city.id).count} Gossipers", user_index_path, :class => "link-light"%> </div>
                </div> 
                <div class="numbers">
                    <b class="comments-icon"><i class="fa fa-comment"></i> 10</b>
                </div>
            </div>            
        </div>
        <div class="card-info">
            <div class="moving">
                    <h3><%=city.name%></h3>
                    <p><%="\""+Faker::Movies::Ghostbusters.quote+"\""%></p>
                </a>                
                <b class="actions">
                    <a href="#/product/awesome-landing-page">Details</a>
                    <b class="separator">|</b>
                    <a class="blue-text" href="#/live/awesome-landing-page" target="_blank">Live Preview</a>
                </b>
            </div>
        </div>
    </div>

<%end%>
