/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }

    .testimonial-card .card-up {
      height: 120px;
      overflow: hidden;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      }
      
      .testimonial-card .avatar {
      width: 110px;
      margin-top: -60px;
      overflow: hidden;
      border: 3px solid #fff;
      border-radius: 50%;
      }

      .badge-pill{
        border-radius: 20px;
      }

      .flex-container {
        display: flex;
        flex-wrap: wrap;
      }

      .card-container{
        width: 290px;
      }



      .card {
        overflow: hidden;
        border-radius: 6px;
        position: relative;
        background-color: #FFFFFF;
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        margin-bottom: 30px;
    }
    .card-small .thumbnail {
        min-height: 180px;
    }
    
    .card .thumbnail {
        border: 0 none;
        padding: 0;
        margin: 0;
        min-height: 200px;
        position: relative;
    }
    
    .card .thumbnail img {
        width: 100%;
    }
    
    .card .thumb-cover {
        padding: 15px 20px;
        height: 100%;
        top: 0;
        position: absolute;
        bottom: 0;
        opacity: 0;
        background-color: rgba(255,255,255,0.95);
    }
    .thumb-cover{
     transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;   
    }
    
    .card .details {
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.75)), color-stop(62%, rgba(0,0,0,0.36)), color-stop(100%, rgba(0,0,0,0)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e000000', endColorstr='#00000000',GradientType=0 );
        top: 0;
        display: block;
        height: 60px;
        padding: 10px 15px 0;
        position: absolute;
        width: 100%;
    }
    
    .card .user {
        font-weight: 400;
        color: #FFFFFF;
        text-shadow: 0 1px 2px rgba(0,0,0,0.23);
        line-height: 20px;
        display: block;
    }
    
    .hidden {
        display: none !important;
        visibility: hidden !important;
    }
    
    .card .user .user-photo {
        width: 35px;
        height: 35px;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        overflow: hidden;
        float: left;
    }
    
    .card .user .name {
        line-height: 35px;
        margin-left: 10px;
        font-size: 16px;
        float: left;
    }
    
    .card .numbers {
        color: #FFFFFF;
        float: right;
        margin-top: 6px;
    }
    
    .card .numbers .downloads, .card .numbers .comments-icon {
        margin-left: 6px;
        font-size: 15px;
        font-weight: 500;
    }
    
    .card .numbers .fa {
        font-size: 18px;
    }
    
    .card .numbers .downloads, .card .numbers .comments-icon {
        margin-left: 6px;
        font-size: 15px;
        font-weight: 500;
    }
    
    .card-info {
        background-color: #FFFFFF;
        position: relative;
        height: 120px;
    }
    .card-info {
      -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;  
    }
    
    .card-info .moving {
        padding: 15px;
        background-color: #FFFFFF;
        position: relative;
        max-width: 400px;
     
    }
    
    .card-info a {
        color: #434343;
    }
    
    .card-small .card-info h3 {
        font-size: 18px;
    }
    .card-info h3 {
        margin-top: 0;
        font-size: 22px;
    }
    
    .card-info h3 {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
    
    .card-info p {
        font-size: 14px;
        font-style: italic;
        margin: 0;
        color: #666666;
        height: 60px;
        max-width: 300px;
    }
    
    .card-small .actions {
        height: 55px;
        font-size: 14px;
        min-width: 100px;
        max-width: 300px;
        width: auto;
        height: auto;
    }
    
    .card .actions {
        background-color: #FFFFFF;
        bottom: -80px;
        color: rgba(33,33,33,0.79);
        display: block;
        height: 80px;
        left: 0;
        opacity: 1;
        position: absolute;
        text-align: center;
        font-size: 18px;
        min-width: 100px;

    }
    
    .card-info .actions a {
        color: #777777;
    }
    
    .card .actions a {
        font-weight: 400;
    }
    
    .card .separator {
        padding: 0 7px;
        font-weight: 400;
        color: #CCCCCC;
    }
    
    .card-info .actions .blue-text {
        color: #00bbff;
    }
    a, a:hover, a:focus, .btn:focus, .btn:hover, .btn:active, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
        text-decoration: none;
        outline: 0;
        outline-color: transparent;
        outline-style: none;
    }
    
.link-comment{
    border: 1px solid #00bbff;
    color:#00bbff;
}

.link-comment:hover{
    color:#FFFFFF;
    background-color:#00bbff;
}

.disliked .link-comment{
    display: inline;
    border : 0;
}
